* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}

.Body {
  background-image: linear-gradient(to right, rgb(2, 4, 16), rgb(3, 7, 45));
  padding: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-right: 50%;
  height: 71vh;
  color: #fff;

  .Body__Title {
    font-weight: 500;
    font-size: 80px;
    line-height: 1.2;
  }

  .Body__description {
    line-height: 1.7;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .Body__Crypto {
    color: rgb(44, 38, 230);
    font-weight: 500;
    text-transform: uppercase;
  }

  .Body__LaunchApp {
    background-color: rgb(44, 38, 230);
    padding: 30px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
  }
}

.Header {
  background-color: rgb(2, 2, 28);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  color: #fff;
}

.Header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #fff;

  .nav__logo {
    margin-right: 25px;
    color: rgb(44, 38, 230);
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
  }

  .nav__docs {
    margin-right: 25px;
    text-decoration: none;
    color: #fff;
  }

  .nav__Community {
    margin-right: 25px;
    text-decoration: none;
    color: #fff;
  }
}

.Connect_btn {
  background-color: rgb(2, 2, 28);
  padding: 20px;
  color: #fff;
}

.Footer {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  background-color: rgb(44, 38, 230);
}

.Community {
  background-image: linear-gradient(to right, rgb(2, 4, 16), rgb(3, 7, 45));
  text-align: center;
  font-size: 25px;
  height: 100vh;
  padding: 30px;
  color: #fff;
}

.Docs {
  background-image: linear-gradient(to right, rgb(2, 4, 16), rgb(3, 7, 45));
  text-align: center;
  font-size: 25px;
  height: 100vh;
  padding: 30px;
  color: #fff;
}

.BorrowLend {
  color: #fff;

  /* background-image: linear-gradient(to right, rgb(2, 4, 16) , rgb(3, 7, 45)); */
  /* height:auto; */
  background-image: linear-gradient(to right, rgb(2, 4, 16), rgb(3, 7, 45));

  .BorrowLend__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    color: #fff;
  }

  .BorrowLend__heading {
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 20px;
    color: rgb(44, 38, 230);
  }

  .BorrowLend__des {
    font-size: 20px;
    font-weight: 400;
    color: #ccc;
  }

  .Assets {
    .Asset__lends {
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: center;
      font-weight: 800;
      font-size: 18px;
      padding: 40px;
    }

    .Asset__supplys,
    .Asset__APYs,
    .Asset__tokens,
    .Asset__borrows {
      color: rgb(44, 38, 230);
      font-weight: 500;
      font-size: 16px;
    }

    .Asset__lend_des {
      display: grid;
      grid-template-columns: auto auto auto;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 18px;
      color: rgb(44, 38, 230);
      align-items: center;
    }

    .Asset__lend_des2 {
      display: grid;
      grid-template-columns: auto auto auto auto;
      font-size: 18px;
      color: rgb(44, 38, 230);
      align-items: center;
      padding-bottom: 30px;
      padding-left: 40px;
      padding-right: 40px;
    }

    .Asset__supply {
      /* background-color: transparent; */
      padding: 10px;
      font-size: 20px;
      border: 1px solid rgb(44, 38, 230);
      text-align: center;
      border-radius: 5px;
      margin: 10px;
      color: rgb(44, 38, 230);
    }

    .Asset__borrow {
      /* background-color: transparent; */
      padding: 10px;
      font-size: 20px;
      border: 1px solid rgb(44, 38, 230);
      text-align: center;
      border-radius: 5px;
      margin: 10px;
      color: rgb(44, 38, 230);
    }
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 240px;
    background: rgb(44, 38, 230);
    color: #ccc;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding: 20px;

    .Modal__Lend {
      display: flex;
      justify-content: flex-end;
      color: #fff;
    }

    .modal__supply {
      margin: 10px;
      font-size: 18px;
      text-align: center;
      border-radius: 5px;
      font-weight: 500;
      background-color: rgb(89, 129, 230);
      padding: 10px;
      text-decoration: none;
      border: none;
      color: #fff;
    }

    .modal__withdraw {
      margin: 10px;
      font-size: 18px;
      text-align: center;
      border-radius: 5px;
      font-weight: 500;
      background-color: rgb(89, 129, 230);
      padding: 10px;
      text-decoration: none;
      border: none;
      color: #fff;
    }

    .modal__withdraw:hover,
    .modal__supply:hover {
      cursor: pointer;
      background-image: linear-gradient(to right, rgb(2, 4, 16), rgb(3, 7, 45));
      transition: 0.3s ease-in-out;
    }

    .modal__supply:active,
    .modal__withdraw:active {
      background-image: linear-gradient(to right, rgb(2, 4, 16), rgb(3, 7, 45));
      transform: translateY(4px);
    }

    .Modal__action {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Modal__token {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .Modal__input {
      background-color: rgb(89, 129, 230);
      border: none;
      padding: 10px;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }

  .Asset__supply:hover,
  .Asset__borrow:hover {
    cursor: pointer;
  }
}

.close {
  position: relative;
  top: 0;
  left: 50%;
  cursor: pointer;
  color: #fff;
}

.menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  color: #fff;
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

/* Users deposits detail */

.Users__DespositsDetails {
  display: grid;
  grid-template-columns: 50% 50%;
  /* background-image: linear-gradient(to right, rgb(11, 21, 79), rgb(13, 16, 44)); */
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
}

.Lended--amount,
.Lended--interest,
.Supplied--amount,
.borrowed--amount {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}

.lended--span,
.lended--interest,
.Supplied--RealAmount,
.borrowed--RealAmount {
  color: blue;
  font-weight: 600;
  font-size: 20px;
}

.SummerUSDBalance {
  color: blue;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-top: 90px;
}


@media only screen and (min-width: 1000px) {
  .Assets {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .menu {
    display: flex;
  }

  .Header nav {
    display: none;
    font-size: 20px;
    flex-direction: column;
    width: 100%;

    .nav__logo {
      color: rgb(44, 38, 230);
      font-weight: 600;
      font-size: 30px;
      text-decoration: none;
      margin-right: 0;
    }

    .nav__docs {
      text-decoration: none;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: rgb(44, 38, 230);
      border-radius: 7px;
      width: 100%;
      text-align: center;
      margin-right: 0;
    }

    .nav__Community {
      text-decoration: none;
      padding: 10px;
      background-color: rgb(44, 38, 230);
      border-radius: 7px;
      width: 100%;
      text-align: center;
      margin-right: 0;
    }
  }

  .Header {
    display: flex;
    padding: 20px;
  }

  .Header nav.open {
    display: flex;
  }

  .Connect_btn {
    background-color: rgb(2, 2, 28);
    padding: 20px;
    color: #fff;
  }

  .Body {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;

    .Body__Title {
      font-weight: 500;
      font-size: 60px;
      line-height: 1.2;
    }

    .Body__description {
      font-size: 20px;
      font-weight: 400;
    }

    .Body__Crypto {
      font-weight: 400;
    }
  }
}

@media only screen and (max-width: 599px) {
  .menu {
    display: flex;
  }

  .Header nav {
    display: none;
    font-size: 20px;
    flex-direction: column;
    width: 100%;

    .nav__logo {
      color: rgb(44, 38, 230);
      font-weight: 600;
      font-size: 30px;
      text-decoration: none;
      margin-right: 0;
    }

    .nav__docs {
      text-decoration: none;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: rgb(44, 38, 230);
      border-radius: 7px;
      width: 100%;
      text-align: center;
      margin-right: 0;
    }

    .nav__Community {
      text-decoration: none;
      padding: 10px;
      background-color: rgb(44, 38, 230);
      border-radius: 7px;
      width: 100%;
      text-align: center;
      margin-right: 0;
    }
  }

  .Header {
    display: flex;
    padding: 20px;
  }

  .Header nav.open {
    display: flex;
  }

  .Connect_btn {
    background-color: rgb(2, 2, 28);
    padding: 20px;
    color: #fff;
  }

  .Body {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;

    .Body__Title {
      font-size: 30px;
      line-height: 1.2;
    }

    .Body__description {
      font-size: 20px;
      font-weight: 400;
    }

    .Body__Crypto {
      font-weight: 400;
    }
  }

  .Footer {
    padding: 10px;
    font-size: 20px;
  }

  .Body__LaunchApp {
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .Users__DespositsDetails {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px;
    border-radius: 20px;
  }
}

